.gallery {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 480px) {
  .gallery {
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 320px;
  }
}